ul{
  list-style-type: disc;
  padding: 30px;
}

/* 
even - чётные элементы
odd - нечётные элементы
*/

li:nth-child(even), li:nth-child(odd){
  color: dodgerblue;
  background-color: blueviolet;
}

li:nth-child(4n){
  color: white;
  background-color: black;
} 