.img{
  width: 320px;
  box-sizing: border-box;

  padding: 10px;

  /* 
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 40px;
   */
   
  /* 
  border: 2px solid red; 
  */

 /*  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: red; */

  border-top: 4px solid red;

/*   border-bottom-width: 8px;
  border-bottom-style: dashed;
  border-bottom-color: green; */
 
  border-bottom: 8px dashed green;

  border-right: 4px solid fuchsia;
  border-left: 16px dotted black;
 

}