* {
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 200px;
  height: 200px;
  font-size: 50px;
  display: inline-block;
  background-color: blueviolet;
  border: 5px solid red;
  text-align: center;
}

.hidden-var1{
  display: none;
}

.hidden-var2{
  opacity: 0;
}

.hidden-var3{
  visibility: hidden;
}